{
    admin unix//run/admin.sock
}

http:// {
    bind fd/3

    handle_path /static* {
        root * /srv/static
        file_server
    }

    handle /api/* {
        reverse_proxy dbtrials-backend:8000
    }

    handle /admin* {
        reverse_proxy dbtrials-backend:8000
    }

    handle {
        reverse_proxy dbtrials-frontend:80
    }

    log
}